@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;600;700;900&display=swap");
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';
:root {
  --bgColor: #ffffff;
  --textColor: #03001c;
  --primaryColor: #4e5dc0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

button {
  outline: none;
  border: none;
  background-color: transparent;

  font-weight: 700;

  cursor: pointer;

  transition: 0.3s linear;
}

button:active {
  transform: scale(0.85);
}

a {
  text-decoration: none;
}

.highlightText {
  color: var(--primaryColor);
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-weight: 300;
  opacity: 95%;
  font-size: 1rem;
}

ul {
  list-style: none;
  margin: 0;
}
