section.editor-x___container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.editor-x___container--title {
  padding: 0.5em 0em 0.5em 0.5em;

  width: 100%;
  height: fit-content;

  font-size: 0.8rem;
  font-weight: 900;
}

.controlled-editor {
  width: 100%;
  flex: 1;
}

.CodeMirror {
  height: 100% !important;
}
