.formField {
  padding: 1em 2em;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formField___Image {
  width: 30%;
  height: auto;
}
.formField___Image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
