.white-button {
  color: var(--primaryColor);
  border-radius: 8px;
  background: #ffffff;
  box-shadow: inset 7px 7px 17px #666666, inset -7px -7px 17px #ffffff;
}

.blue-button {
  color: var(--bgColor);
  border-radius: 8px;
  background: #4e5dc0;
  box-shadow: inset 7px 7px 9px #1f254d, inset -7px -7px 9px #7d95ff;
}
