.client___list--container {
  width: 100%;
  height: fit-content;
  position: relative;
}

.client___list--container__list,
.client___list--container__list--popup li {
  display: flex;
  align-items: center;
}

.client___list--container__list span,
.client___list--container__list--popup span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: -0.5em;

  background-color: #C2185B;

  transition: 0.3s linear;
}

.client___list--container__list span:hover {
  transform: scale(1.2);
}

.client___list--container__list h5,
.client___list--container__list--popup h5 {
  font-weight: 900;
  color: var(--bgColor);
}

.client___list--container__list--popup {
  position: absolute;

  padding: 1em 1.5em;
  margin-top: 0.5em;

  background-color: var(--primaryColor);

  height: fit-content;
  max-height: 60vh;
  width: fit-content;

  overflow: hidden;
  overflow-y: scroll;
}


.client___list--container__list--popup li {
  padding: 0.5em 0em;
}

.client___list--container__list--popup span {
  margin-right: 1em;
}
