section.editorPage___container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
}

aside.editorPage___container--right {
  min-width: 180px;
  height: 100%;

  padding: 1em 1em 2em 1em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  background-color: var(--primaryColor);
}

.editorPage___container--right___top {
  width: 100%;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
}

.editorPage___container--right___top ~ img {
  width: 100%;
  height: 100%;
}

.editorPage___container--right___top--image {
  align-items: center;
  text-align: center;
}

.editorPage___container--right___top--list {
  align-items: flex-start;
  text-align: left;

  margin-left: -1.5em;
  margin-top: 2em;
}

.editorPage___container--right___top--list > li {
  padding: 0.5em 0;
  border-bottom: 1px solid #03001c50;

  cursor: pointer;
}


.editorPage___container--right___button {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section.editorPage___container--left {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.editorPage___container--left___nav {
  width: 100%;
  height: fit-content;
}

.editorPage___container--left___editor {
  width: 100%;
  height: 100%;
}
